*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    font-style: normal;
    color: var(--text-color);
    background-color: #ffffff;
    
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}