*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    font-style: normal;
    color: var(--text-color);
    background-color: #ffffff;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.address {
    font-style: normal;
}

.button {
    padding: 10px 32px;

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--text-btn-dark-theme);
    background: var(--accent-text-color);
    border-radius: 4px;
    border-style: none;

    cursor: pointer;

    transition-property: color, background-color; 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}