:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --title-color-white-them: #212121;
    --title-color-dark-theme: #FFFFFF;
    --text-color: #757575;
    --accent-text-color: #2196F3;
    --text-btn-white-theme: #212121;
    --text-btn-dark-theme: #FFFFFF;
    --active-text-btn-white-theme: #FFFFFF;
    --active-text-btn-dark-theme: #212121;
}